body {
    background-color: #a9c7fd;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  div {
    margin: 20px auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  img {
    margin: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 25px;
    background-color: #3f81fb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .flex-container {
    display: inline-flex;
    padding: 10px;
    line-height: 1.7;
  }

  .container1 {
    margin: 20px;
    border-radius: 10px;
    background-color: #bed5ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .container2 {
    width: 350px;
    height: 100px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  
  #stopwatch-time {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #current-time {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 30px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
