body {
  background-color: #a9c7fd;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

div {
  margin: 20px auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container1 {
  max-width: 900px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #bed5ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container2 {
  width: 300px;
  height: 213px;
  margin: 0px auto;
  margin-left: 60px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container2 p {
  margin: 0;
  line-height: 1.5;
  text-align: left;
}

.flex-container {
  display: inline-flex;
  padding: 20px;
}

.flex-info .label {
  font-weight: bold;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  font-size: 25px;
  background-color: #3f81fb;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
