body {
  background-color: #a9c7fd;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

.button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #3f81fb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 60px;
  box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.3); 
}

img {
  box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.2); 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: 20px; 
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5px;
}

.stopwatch-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 150px;
  margin: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#stopwatch {
  font-size: 36px;
}

#current-time {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#container-box {
  width: 250px;
  height: 160px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
